@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  /* Mobile Styles */
  @media only screen and (max-width: 460px) {
    /* Sidenav menu */
    .sidenav {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -250px;
        background-color: #bc2148;
        padding-top: 60px;
        transition: left 0.5s ease;
    }
    
    /* Sidenav menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
    }
    
    .sidenav a:hover {
        color: #111;
    }
    
    .sidenav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    /* Active class */
    .sidenav.active {
        left: 0;
    }
    
    /* Close btn */
    .sidenav .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }
    
    /* Icône burger */
    .burger-icon span {
        display: block;
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }

    header{
        display: flex;
        align-items: center;
        background-color: #bc2148;
    }

    header .logo img{
        width: 3rem;
    }

    .btn{
        margin-left: 5rem;
    }

    .banniere img{
        height: 10rem;
        width: 100%;
    }

    /*-------------*/

    .services{
        margin-top: 1rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .services .service-item{
        padding: 2rem;
    }

    .services .service-item .delivery-icon{
        font-size: 40px;
    }

    .services .service-item .service-details{
        margin-top: 10px;
        font-size: 15px;
        font-weight: bold;
    }

    /*----------------*/

    .best-sales{
        margin: 1rem;
        text-align: center;
    }

    .section-title{
        font-size: 25px;
        font-family: 'Abril FatFace', cursive;
        font-weight: 100;
        position: relative;
    }

    .best-sales .best-sales-block{
        display: block;
        justify-content: center;
        align-items: center;
    }

    .best-sales .best-sales-block .product{
        margin: 1rem;
    }

    .best-sales .best-sales-block .product img{
        height: 15rem;
        width: 10rem;
    }

    .best-sales .best-sales-block .product h5{
        font-size: 20px;
    }

    .line{
        background-color: #bc2148;
        width: 100M;
        height: 10px;
        text-align: center;
    }

    /*------------------*/

    .products{
        margin: 2rem;
        text-align: center;
    }

    .products .block{
        margin-top: 1rem;
    }

    .products .block .up{
        display: block;
        align-items: center;
        justify-content: center;
    }

    .products .block .up .produit{
        margin: 1rem;
    }

    .products .block .up .produit img{
        height: 10rem;
        width: 10rem;
    }

    .products .block .up .produit h5{
        font-size: 15px;
    }

    .products .block .down{
        display: block;
        align-items: center;
        justify-content: center;
    }

    .products .block .down .produit{
        margin: 1rem;
    }

    .products .block .down .produit img{
        height: 10rem;
        width: 10rem;
    }

    .products .block .down .produit h5{
        font-size: 15px;
    }


    /*---------------*/

    .soldes{
        margin: 2rem;
        text-align: center;
    }

    .soldes .soldes-content{
        display: block;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }

    .soldes .soldes-content .soldes-details{
        margin-bottom: 2rem;
    }

    .soldes .soldes-content .soldes-details img{
        height: 10rem;
        width: 15rem;
    }

    .soldes del{
        color: red;
    }

    /*-----------*/

    footer{
        display: block;
        justify-content: center;
        align-items: center;
        background-color: #bc2148;
        color: white;
    }

    footer p{
        margin: 1rem;
        margin-top: 10px;
    }

    footer  a{
        margin: 1rem;
        text-decoration: none;
        color: white;
    }
    
}
    
    /* Tablet Styles */
    @media only screen and (min-width: 461px) and (max-width: 960px) {
        body {
        background-color: #F5CF8E; /* Yellow */
        }
    }
    
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {

    .btn{
        display: none;
    }

    .close{
        display: none;
    }
    
    header{
        display: flex;
        align-items: center;
        background-color: #bc2148;
    }

    header .logo img{
        width: 5rem;
    }

    header nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    header nav ul li{
        padding: 2rem;
    }

    header nav ul li a{
        text-decoration: none;
        color: white;
        font-size: 25px;
    }

    .banniere img{
        height: 50rem;
        width: 100%;
    }

    /*--------------------------*/

    .services{
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .services .service-item{
        padding: 5rem;
    }

    .services .service-item .delivery-icon{
        font-size: 50px;
    }

    .services .service-item .service-details{
        margin-top: 15px;
        font-size: 20px;
        font-weight: bold;
    }

    /*----------------*/

    .best-sales{
        margin: 3rem;
    }

    .section-title{
        font-size: 50px;
        font-family: 'Abril FatFace', cursive;
        font-weight: 100;
        position: relative;
    }

    .best-sales .best-sales-block{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .best-sales .best-sales-block .product{
        margin: 2rem;
        background-color: #e1e0e0;
    }

    .best-sales .best-sales-block .product img{
        height: 35rem;
        width: 30rem;
    }

    .best-sales .best-sales-block .product h5{
        font-size: 20px;
    }

    .line{
        background-color: #bc2148;
        width: 10rem;
        height: 10px;
    }

    /*------------------*/
    .products{
        margin: 3rem;
    }

    .products .block{
        margin-top: 2rem;
    }

    .products .block .up{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .products .block .up .produit{
        margin: 1rem;
        background-color: #e1e0e0;
    }

    .products .block .up .produit img{
        height: 25rem;
        width: 25rem;
    }

    .products .block .up .produit h5{
        font-size: 15px;
    }

    .products .block .down{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .products .block .down .produit{
        margin: 1rem;
        background-color: #e1e0e0;
    }

    .products .block .down .produit img{
        height: 25rem;
        width: 25rem;
    }

    .products .block .down .produit h5{
        font-size: 15px;
    }


    /*---------------*/
    .soldes{
        margin: 3rem;
    }

    .soldes .soldes-content{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }

    .soldes .soldes-content .soldes-details img{
        height: 30rem;
        width: 35rem;
    }

    .soldes del{
        color: red;
    }

    /*-----------*/
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #bc2148;
        color: white;
    }

    footer p{
        margin: 1rem;
    }

    footer  a{
        margin: 1rem;
        text-decoration: none;
        color: white;
    }
  }